/*<!--IMPLEMENTATION: PATRIK GOLIAN 355457-->*/
@font-face {
    font-family: 'Modak';
    src: url(../fonts/Modak-Regular.ttf) format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}
/* Styling body with 100% width, disabling horizontal overflow, and setting a background image pattern */
body {
    width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #ffffff00, #fff, #fff, #fff, #fff, #fff, #ffffff00), url("../images/logoIllustrationpattern.png");
    background-repeat: repeat;
}
/* Ensuring header stays on top and covers full width, fixing it at the top of the page */
.body-container .header {
    z-index: 999;
    position: fixed;
    width: 100%;
}
/* Centering the navbar links when navbar is collapsed */
#collapsibleNavbar {
    justify-content: center;
}
/* Adding space between navbar items */
.navbar-nav li {
    margin-right: 5vh;
}
/* Styling the brand logo in navbar */
.body-container .navbar-brand {
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container .navbar-brand img {
    width: 100%;
}
/* Defining a custom blue background color for navbar */
.bg-blue {
    background-color: #14274E;
    transition: 0.3s;
}
/* Defining a custom blue background color for footer */
.bg-bluef {
    background-color: #14274E;
}
/* Styling navigation links with custom font, size, and color */
.nav-link {
    font-family: 'Modak';
    font-size: 2em;
    color: #9BA4B4;
    transition: 0.3s;
}
/* Changing color of active navbar link */
.navbar-nav .nav-item .active
{
    color: #394867;
}
/* Adjusting navbar collapse background color */
.navbar-collapse .bg-blue {
    background-color: #14274E;
}

.navbar-toggler:focus {
    box-shadow: none;
}
/* Adjusting navbar style for larger screens */
@media (min-width: 575px) {
  
/* Transparent background for navbar on large screens */
    .bg-blue {
        background-color: transparent;
        transition: 0.3s;
    }
 /* Darker background color on hover for navbar */
    .bg-blue:hover {
        background-color: #14274E;
        transition: 0.3s;
    }
/* Centering navigation links on larger screens */
    .nav-link {
        text-align: center;
    }
 /* Changing color of navbar link on hover */
    .nav-link:hover {
        color: #394867;
        transition: 0.3s;
    }
}
/* Styling for background image container */
.bgImage{
    z-index: -1;
    height: 100vh;
   overflow: hidden;
}
/* Making background image fill the container with specific positioning */
#bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Ensuring content columns are displayed correctly */
.col-md {
    z-index: 1;
    object-fit: cover;
}
/* Styling image with class 'Pets' to fit within column and animate on hover */
.col-md #Pets {
    width: 50%;
    transition: transform 0.5s ease-in-out;
}
/* Zoom effect on hover for Pets image */
#Pets:hover{
    transform: scale(1.15); 
}
/* Styling  heading with custom font and color */
h1
{
    color: #9BA4B4;
    font-family: 'Modak';
    font-size: 4em;
    text-align: center;
}
/* Highlighting span within heading */
h1 span
{
    color: #14274E;
}
/* Styling  heading with custom font and color */
h3
{
    color: #9BA4B4;
    font-family: 'Modak';
    font-size: 2em;
    text-align: center;
}
/* Highlighting span within heading */
h3 span
{
    color: #14274E;
}
/* Reducing font size for navigation links on medium screen sizes */
@media (max-width: 874px) and (min-width:576px) {
    .nav-link
    {
       font-size: 1.1em;
    }   
   }
/* Setting height and overflow behavior for carousel items */
.carousel .carousel-item {
    height: 70vh;
    overflow: hidden;
}
/* Making carousel images fill the carousel item container */
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Styling button within container with custom color, padding, and hover effect */
.container .button {
    width: fit-content;
    padding: 2%;
    border-radius: 10px;
    background-color: #394867;
    transition: 0.5s;
    text-decoration: none;
    color: #9BA4B4;
    font-family: 'Modak';
    font-size: 1.5em;
}