/*IMPLEMENTATION: CAROLINA VALENCIA ZAVIDEI 354825*/

@font-face {
    font-family: 'Modak';
    src: url(../fonts/Modak-Regular.ttf) format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #ffffff00, #fff, #fff, #fff, #fff, #fff, #ffffff00), url("../images/logoIllustrationpattern.png");
    background-repeat: repeat;
}

.body-container .header {
    z-index: 999;
    position: fixed;
    width: 100%;
}

#collapsibleNavbar {
    justify-content: center;
}

.navbar-nav li {
    margin-right: 5vh;
}

.body-container .navbar-brand {
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container .navbar-brand img {
    width: 100%;
}

.bg-blue {
    background-color: #14274E;
    transition: 0.3s;
}

.bg-bluef {
    background-color: #14274E;
}

.nav-link {
    font-family: 'Modak';
    font-size: 2em;
    color: #9BA4B4;
    transition: 0.3s;
}

.navbar-nav .nav-item .active
{
    color: #394867;
}

.nav-link:focus {
    color: #394867;
}

.navbar-collapse .bg-blue {
    background-color: #14274E;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.text-lightblue {
    color: #9BA4B4;
}

/*IMPLEMENTATION: CAROLINA VALENCIA ZAVIDEI*/
h1
{
    color: #394867;
    font-family: 'Modak';
    font-size: 2.8em;
    text-align: left;
}

h2 {
    color: #9BA4B4; 
    font-family: 'Modak'; 
    font-size: 2em; 
    text-align: center; 
    border: 2px solid rgba(70, 130, 180, 0.5); 
    padding: 10px; 
    margin-top: 8px;
    display: inline-block; 
    border-radius: 15px; 
    background-color: #F0F8FF; 
}

h3 {
    color: #394867;
    font-family: 'Modak'; 
    font-size: 2em; 
    text-align: center; 
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    display:inline-block;
    animation: border-pulsate 4s infinite;
}

h4
{
    color: #394867;
    font-family: 'Modak';
    font-size: 1.8em;
    text-align: center;
}
a {
    text-decoration: none; 
    color: black; 
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease; 
}


.image-container {
    position: relative; 
    overflow: hidden; 
}

.main-image {
    display: block; 
    width: 100%; 
}

.hover-image {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: auto; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.image-container:hover .hover-image {
    opacity: 1; 
}

.image-container:hover .main-image {
    opacity: 0; 
}

.button-27 {
    appearance: none;
    background-color: #394867;
    border-radius: 15px;
    box-sizing: border-box;
    color: #9BA4B4;
    cursor: pointer;
    display: inline-block;
    font-family: 'Modak', sans-serif; /* Added fallback font */
    font-size: calc(1.2em + 1vw);
    font-weight: 100;
    line-height: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    min-height: 60px;
    min-width: 150px; /* Set a minimum width */
    max-width: 90%; /* Responsive max width */
    outline: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%; /* Full width for responsiveness */
    will-change: transform;
}

.button-27:disabled {
    pointer-events: none;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    color: #14274E;

}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Media query for larger screens */
@media (min-width: 600px) {
    .button-27 {
        font-size: 2em; /* Adjust font size for larger screens */
        width: auto; /* Reset width for larger screens */
        padding: 12px 20px; /* Add more padding for larger screens */
    }
}


@keyframes border-pulsate {
    0% {
        -webkit-box-shadow: 0 0 0 0 #14274eb6;
        background-color: #14274eb6 ;
    }

    70% {
        -webkit-box-shadow: 0 0 0 1.3vw #3948673c;
        background-color: #3948673c;
    }

    90% {
        -webkit-box-shadow: 0 0 0 2vw #9ba4b407;
        background-color: #9ba4b407;

    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
        background-color: rgba(0,0,0,0) ;
    }
}


@media (min-width: 575px) {
    
    .bg-blue {
        background-color: transparent;
        transition: 0.3s;
    }

    .bg-blue:hover {
        background-color: #14274E;
        transition: 0.3s;
    }

    .nav-link {
        text-align: center;
    }

    .nav-link:hover {
        color: #394867;
        transition: 0.3s;
    }


    .container .button:hover {
        background-color: #14274E;
        transition: 0.5s;
    }
}


@media (max-width: 874px) and (min-width:576px) {
 .nav-link
 {
    font-size: 1.1em;
 }   
}