@font-face {
    font-family: 'Modak';
    src: url(../Modak-Regular.ttf) format('truetype');
}

.button {
    -fx-text-fill: #9BA4B4;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: #394867;
    -fx-border: 0px;
    -fx-transition: 1s;
    -fx-font-family: 'Modak';
    -fx-font-size: 1em;
}

.button:hover
{
    -fx-background-color: #14274E;
}

.root
{
    -fx-background-image: url("../logoIllustrationpattern2.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center;
}

.label {
    -fx-font-family: 'Calibri';
    -fx-font-size: 1.2em;
    -fx-text-fill: #14274E;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 10px;
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #394867;
    -fx-prompt-text-fill: #7d7d7d;
    -fx-border-radius: 25px;
    -fx-border-color: #14274E;
    -fx-background-radius: 25px;
    -fx-padding: 5px;
}

.text-area {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #394867;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 50px;
    -fx-padding: 0;
}

.text-area .content {
    -fx-background-color: #e0e0e0;
    -fx-padding: 0px;
}

.combo-box {
    -fx-font-size: 12px;
    -fx-background-color: #e0e0e0;
    -fx-border-radius: 25px;
    -fx-border-color: #14274E;
    -fx-background-radius: 25px;
    -fx-color-fill: #394867;
    -fx-font-weight: bold;
}

.combo-box .arrow {
    -fx-background-color: #394867;
    -fx-background-radius: 25px;
}

.check-box {
    -fx-font-family: 'Calibri';
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #394867;
}

.check-box .box {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #14274E;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-border-width: 1px;
}

.check-box:selected .box {
    -fx-background-color: #394867;
    -fx-border-color: #394867;
}

.check-box:selected .mark {
    -fx-background-color: #9BA4B4;
}

.check-box:hover .box {
    -fx-background-color: #14274E;
}

.radio-button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #394867;
    -fx-font-family: 'Calibri';
}

.radio-button .radio {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #14274E;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-border-width: 1px;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.radio-button:selected .radio {
    -fx-border-color: #394867;

}

.radio-button:hover .radio {
    -fx-background-color: #14274E;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #14274E;
}

-date-picker .arrow-button {
    -fx-border-color : #14274E;
    -fx-border-radius : 15px;
    -fx-background-radius: 15px;
    -fx-background-color: transparent;
}

.date-picker {
    -fx-background-color: transparent;
}